# Initial content coming from
# https://github.com/pre-commit/pre-commit-hooks/blob/master/.pre-commit-config.yaml
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-docstring-first
          - id: check-json
          ## The generated types/requests/responses are huge!
          #-   id: check-added-large-files
          - id: check-yaml
          - id: debug-statements
          ## Disabled because it compains about additional modules used in testing
          #-   id: name-tests-test
          #    args: ['--django']
          - id: requirements-txt-fixer
          - id: check-ast
          - id: check-builtin-literals
          - id: check-byte-order-marker
          - id: check-case-conflict
          - id: check-executables-have-shebangs
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-toml
          - id: check-vcs-permalinks
          - id: check-xml
          - id: file-contents-sorter
          - id: forbid-new-submodules
          - id: mixed-line-ending
          - id: pretty-format-json
          - id: sort-simple-yaml

    - repo: https://github.com/ambv/black
      rev: 23.1.0
      hooks:
          - id: black
            language_version: python3

      # ruff is a replacement for flake8
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: v0.0.253
      hooks:
          - id: ruff

    - repo: https://github.com/pre-commit/pre-commit
      rev: v3.1.1
      hooks:
          - id: validate_manifest

    - repo: https://github.com/asottile/reorder_python_imports
      rev: v3.9.0
      hooks:
          - id: reorder-python-imports
            args: [--py3-plus]

    - repo: https://github.com/asottile/pyupgrade
      rev: v3.3.1
      hooks:
          - id: pyupgrade
            args: [--py36-plus]

    - repo: https://github.com/asottile/add-trailing-comma
      rev: v2.4.0
      hooks:
          - id: add-trailing-comma
            args: [--py36-plus]

    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.0.1
      hooks:
          - id: mypy
            additional_dependencies: [types-all, types-attrs]

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: "v3.0.0-alpha.5"
      hooks:
          - id: prettier
            exclude_types: [html]
            stages: [commit]
            exclude: "docs/api" # huge files break prettier

    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0 # or specific git tag
      hooks:
          - id: shfmt
# end
